<div class="form-area">
  <p>
    Create a folder named import inside the galleries folder. 
    Upload your files in that folder using ftp, then select the import folder you created. 
    Click import and all your files will be imported.
  </p>
  <% form_for(@importing, :url => admin_gallery_importings_path(@gallery) ) do -%>
  	<% options = options_for_select @folders -%>
  	<%= select_tag 'path', options %>
    <p class="buttons"><%= submit_tag "Import", :class => 'button' %></p>
  <% end -%>        
</div>
