div.gallery.items {
  margin-top: 10px;	
	font-size: 14px;
}

div.gallery.items div.item {
  float: left;
	margin: 5px 5px 5px 0;
	border: 1px solid #EAEAEA;
	text-align: center;
	width: 8em;
	height: 10em; 
	position: relative;
}

div.gallery.items div.item.selected {
  border: 1px solid black;
}

div.gallery.items div.item div.image {  	
	cursor: move;	
	width: 7em;
	height: 7em;
	margin: 0.5em auto;
}

div.gallery.items div.item div.image img {
}

div.gallery.items div.item div.label {
  width: 8em;
	margin: 0 auto;
  overflow: hidden;
  font-size: 0.9em;
	cursor: pointer;
	height: 1.2em;	
}

div.gallery.items div.item div.label a:link,
div.gallery.items div.item div.label a:visited,
div.gallery.items div.item div.label a:hover,
div.gallery.items div.item div.label a:active {
  color: #000;
  text-decoration: none;
	display: block;
}

div.gallery.items div.item div.buttons {
	font-size: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	height: 1em;	 
}

div.gallery.items div.item div.buttons a img{	
	font-size: 100%;
	cursor: pointer;
	height: 1em;
}

div.gallery.items div.item div.buttons a:hover img{	
	height: 1.2em;
}     

/* Galleries list page */

#content table.index .node .gallery {
  font-size: 120%;
	font-weight: bold;
}

#content table.index .node .gallery a {
  text-decoration: none;
}

#content table.index .node .gallery a .name, #content table.index .node .gallery a:visited .name,
#content table.index .node .gallery a .description, #content table.index .node .gallery a:visited .description
{
  color: black;
  text-decoration: none;
}


#content table.index .node .gallery a:hover .name, #content table.index .node .gallery a:visited:hover .name,
#content table.index .node .gallery a:hover .description, #content table.index .node .gallery a:visited:hover .description
{
  color: blue;
  text-decoration: underline;
}                  

#content table.index .node .gallery small.info {
	color: #9EB3BF;
	font-style: italic;
	font-weight: normal;
}

/* gallery show page (list of files) */

#content div.toolbar {
	float: left;
}

#content div.toolbar a, #content div.toolbar a:visited {
	font-size: 90%;
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

#content div.toolbar a:hover {
	color: blue;
}

div#gallery_items_panel_zoom {
	position: relative;
	width: 234px;
	float: right;
	margin-top: 5px;
	height: 16px;
	background: transparent url('images/pictures_zoom_small.png') no-repeat left center;
} 

div#gallery_items_panel_zoom div.wrapper {
	padding-right: 20px;
	height: 16px;
	background: transparent url('images/pictures_zoom_big.png') no-repeat right center;
}

div#gallery_items_panel_zoom div#track {	
	position: absolute;
	left: 15px;
	bottom: 4px;
	width: 200px;
	height: 8px;
	background: #F5F1E2;
}

div#gallery_items_panel_zoom div#track div#handle {
	position: absolute;
	left: 0;
	top: -2px;
	cursor: pointer;
	width: 5px;
	height: 12px;
	background: #CC0000;
}

#content .form-area #gallery_description.textbox {
	width: 100%;
	height: 200px;
	font-size: 200%;
}

#content div.toolbar {
  margin-bottom: 10px;
}

#content .form-area #by-upload h4, #content .form-area #by-url h4 {
  margin: 0 0 5px 0;
}

.upload-or-url {
  margin: 5px 0;  
}


/* popups */

#popups .gallery-popup {
  background-color: white;
  border: 5px solid silver;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: .5em;
	width: 550px;  
}

#popups .gallery-popup label {
	font-size: 80%;
	line-height:1.2em;
	color: #454545;
	display: block;
}

#popups .gallery-popup .busy {
  float: right;
}
#popups .gallery-popup h3 {
  margin-top: 0;
}
#popups .gallery-popup .close-link {
  font-size: 85%;
}


#popups .gallery-popup input[type="text"], #popups .gallery-popup textarea {
	border: 1px solid #AAAAAA;
	font-size:110%;
	width:98%;
}                

/*#popups {
  height: 100%;
}
  
#popups .popup {
  border: none;
  padding: 1em;
  background: #F0F0F0;
}
#popups .popup .busy {
  float: right;
}
#popups .popup h3 {
  margin-top: 0;
}

#popups .popup input[type="text"], #popups .popup textarea {
	width: 100%;	
	font-size: 120%;
}

#popups .popup label {
  line-height: 1em;
  margin: 5px 0;
}

#popups .popup textarea {
	height: 190px;
	margin-bottom: 10px;
}
 */