<html>
  <head>
    <script type="text/javascript" charset="utf-8">
      with(window.parent) {
        <% if @created -%>
          GalleryUploadForms.showSuccessMessage(<%= params[:form_id] %>);
          opener.Gallery.panel.loadItem(<%= @item.id %>);
        <% else -%>
          GalleryUploadForms.showErrorMessage(<%= params[:form_id] %>);
        <% end -%>
      }
    </script>
  </head>
<body>  
</body>
</html>
