<% include_stylesheet 'extensions/gallery/admin/gallery' %>
<h1 id="new_page">Edit Gallery</h1>

<% form_for :gallery, :url => admin_gallery_path(@gallery),
  :html => { :method => :put } do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end -%>

<script type="text/javascript">
	// <![CDATA[
	  Field.activate('gallery_name');
  // ]]>
</script>