<% include_javascript 'extensions/gallery/gallery/tree' %>
<% include_stylesheet 'extensions/gallery/admin/gallery' %>

<h1>Galleries</h1>

<table id="gallery_tree" class="index" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>      
			<th class="gallery">Name</th> 
			<th>Keywords <!-- link_to "(Manage Keywords)", --></th>     
      <th>ID</th>
			<th class="status">Status</th>
      <th class="modify" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody id="galleries_list">
<% if @galleries.size > 0 -%>
	<%= render :partial => 'gallery', :collection => @galleries %>
<% else -%>
  <tr>
    <td colspan="6" class="note">No Galleries</td>
  </tr>
<% end -%>
  </tbody>
</table>
<p>
  <%= link_to image_tag('extensions/gallery/admin/new-gallery.png', :alt => 'New Gallery'), new_admin_gallery_path %>
  <%= link_to image_tag('extensions/gallery/admin/reorder.png', :alt => 'Reorder Gallery'), reorder_admin_galleries_path if @galleries.size > 1 %>
</p>