<% include_stylesheet 'extensions/gallery/admin/gallery' %>
<h1 id="new_page">New Gallery</h1>

<% url = params.include?(:parent_id) ? admin_gallery_children_path(params[:parent_id]) : admin_galleries_path-%>
<% form_for :gallery, :url => url do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end -%>

<script type="text/javascript">
	// <![CDATA[
	  Field.activate('gallery_name');
  // ]]>
</script>